<article class="post">
  <header>
    <h2 class="post__title">
      Lorem ipsum dolor sit amet.
    </h2>
    <div class="post__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil tenetur nisi vero ea enim animi minus impedit eveniet quam! Tempore quod ex odio praesentium blanditiis nostrum dolor harum consequuntur minus cumque nobis et illum beatae sequi quam sunt molestiae doloribus, quos dignissimos perferendis animi? Facilis voluptatibus ipsum possimus consectetur culpa.
    </div>
  </header>
</article>